<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Minimalist</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tel</string>
        <string>messages</string>
        <string>sms</string>
        <string>facetime</string>
        <string>calshow</string>
        <string>camera</string>
        <string>mobilenotes</string>
        <string>photos-redirect</string>
        <string>message</string>
        <string>maps</string>
        <string>music</string>
        <string>x-apple-reminderkit</string>
        <string>app-prefs</string>
        <string>clock-alarm</string>
        <string>shortcuts</string>
        <string>weather</string>
        <string>shareddocuments</string>
        <string>itms-apps</string>
        <string>x-apple-health</string>
        <string>shoebox</string>
        <string>whatsapp</string>
        <string>spotify</string>
        <string>instagram</string>
        <string>tiktok</string>
        <string>youtube</string>
        <string>twitter</string>
        <string>x</string>
        <string>reddit</string>
        <string>snapchat</string>
        <string>threads</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.example.MinimalistApp</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>minimalist</string>
            </array>
        </dict>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
